html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;

}

.line {
  width: 100%;
  height: 1px;
  background-color: #f5f4f4b2;
  flex: 0 0 auto;
}

form {
  background-color: #ffff;
  flex: 12;
}

.header {
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 33px;
  letter-spacing: 0.04em;
  color: #0A003D;
  margin-left: 5em;
}

.form-container {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  margin: 0 1rem 1rem 1rem;
  background-color: #f5f4f4b2;
  min-height: 0;
}

.form-content {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 992px) {
  .form-container {
    margin: 2rem auto;
    padding: 3rem 4rem;
  }
}



.container.py-3 {
  flex: 0 0 auto;
}


.header-form {
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 33px;
  letter-spacing: 0.04em;
  color: #0A003D;
  margin-left: 1em;

}

.header-form-arabic {
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 33px;
  letter-spacing: 0.04em;
  color: #0A003D;
  margin-left: 1em;
  text-align: right;
}

.hint {
  font-family: 'Cairo', sans-serif;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.04em;
  color: #0A003D;
  margin-left: 1em;


}

.label-english {
  font-family: 'Cairo', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.09em;
  height: auto;
  color: #0A003D;

  span {
    color: #7D21FE;
  }
}

.label-arabic {
  font-family: 'Cairo', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.09em;
  height: auto;
  color: #0A003D;
  text-align: right;
  display: block;


}

.label-arabic span {
  color: #7D21FE;
}

.custom-input {

  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #F5F4F4B2;
  height: auto;
  border: 1px solid #0A003D;
  border-radius: 15px;
  padding: 10px 16px;
  font-family: 'Cairo', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #0A003D;
  box-sizing: border-box;
  outline: none;
  transition: all 0.3s ease;
  line-height: 29px;
  letter-spacing: 0.09em;
}

.custom-input :focus {

  border: 1px solid #7D21FE;

}

.custom-Submitbutton {
  background-color: #7D21FE;
  height: auto;
  border-radius: 15px;
  padding: 10px 16px;
  margin-top: 2em;
  transition: all 0.3s ease;
  font-family: 'Cairo', sans-serif;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0.01em;
  border: none;



}

.custom-cancelbutton {
  background-color: #FFFFFF;
  height: auto;
  border: 2px solid #7D21FE;
  border-radius: 15px;
  padding: 10px 16px;
  margin-top: 1em;
  transition: all 0.3s ease;
  font-family: 'Cairo', sans-serif;
  color: #0A003D;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;

  letter-spacing: 0.01em;
}