html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

form {
  background-color: #f5f4f4b2;
  flex: 12;
}

.label-english {
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: -0.09em;
  height: 29px;
  color: #0A003D;
}

.label-arabic {

  font-family: 'Cairo', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: -0.09em;
  height: 29px;
  color: #0A003D;
  text-align: right;
}

.custom-input {

  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #F5F4F4B2;
  height: 50px;
  border: 1px solid #0A003D;
  border-radius: 15px;
  padding: 10px 16px;
  font-family: 'Cairo', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #0A003D;
  box-sizing: border-box;
  outline: none;
  transition: all 0.3s ease;
  line-height: 29px;
  letter-spacing: 0.09em;
}

.custom-input.error {
  border: 1px solid #FD5668 !important;
}

.error-msg {
  font-size: 12px;
  margin-top: 4px;
  height: 14px;
  font-weight: 400px;


}

.logo-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #F5F4F4B2;
  min-height: 50px;
  height: auto;
  border: 1px dashed #000000;
  border-radius: 15px;
  font-family: 'Cairo', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #0A003D;
  box-sizing: border-box;
  outline: none;
  transition: all 0.3s ease;

}

.logo-input.error {
  border: 1px dashed #FD5668 !important;
}

.filePargraph {
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 24px;
  letter-spacing: 0%;
  height: 18px;
  color: #333333;
  margin-bottom: 0;
}

.filePargraph span {
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 24px;
  letter-spacing: 0%;
  height: 18px;
  color: #F83DCC;
  text-decoration-style: underline;
  margin-bottom: 0;
}

.formatParagraph {
  font-family: 'Cairo', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 0%;
  height: 15px;
  color: #0A003D;
  size: 10px;
  margin-bottom: 0;
}

.custom-SignUpbutton {
  background-color: #7D21FE;
  height: 50px;
  border-radius: 15px;
  padding: 10px 16px;
  margin-top: 3em;
  transition: all 0.3s ease;
  font-family: 'Cairo', sans-serif;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0.01em;
  border: none;



}

.custom-Loginbutton {
  height: 50px;
  margin-top: 3em;
  border: none;
  border-radius: 15px;
  background-color: #FFFFFF;
  font-family: 'Cairo', sans-serif;
  color: #0A003D;
  font-weight: 300;
  font-size: 14px;
  line-height: 29px;
  letter-spacing: -0.09em;

}

.custom-Loginbutton span {
  font-family: 'Cairo', sans-serif;
  color: #F83DCC;
  font-weight: 600;
  font-size: 14px;
  line-height: 29px;
  letter-spacing: -0.09em;
}
.toast-notification-english-success {
   width: 90%;
  max-width: 300px;
  background: #24D23B80; 
  border-bottom: 8px solid #24D23B; 
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 17px 23px 17px 6px;
  position: fixed;
  bottom: 30px; 
  left: 80%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  z-index: 9999;
}
.toast-notification-arabic-success {
  width: 90%;
  max-width: 300px;
  height: 50px;
  background: #24D23B80; 
  border-bottom: 8px solid #24D23B; 
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 17px 23px 17px 6px;
  position: fixed;
  bottom: 30px; 
  right: 30%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  z-index: 9999;
}
.toast-notification-english-fail {
 min-width: 350px;
  height: 50px;
  background: #FD566880; 
  border-bottom: 8px solid #FD5668; 
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 17px 23px 17px 6px;
  position: fixed;
  bottom: 30px; 
  left: 80%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  z-index: 9999;
}
.toast-notification-arabic-fail {
  width: 90%;
  max-width: 300px;
  background: #FD566880;
  border-bottom: 8px solid #FD5668;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  position: fixed;
  bottom: 30px;
  right: 50%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  z-index: 9999;

 
}

@media (max-width: 412px) {
  .toast-notification-arabic-fail {
    width: 92%;
    max-width: 200px;
    padding: 10px 14px;
    gap: 8px;
    bottom: 15px;
    right:1%;
  }
  .toast-notification-arabic-success{
    width: 92%;
    max-width: 200px;
    padding: 10px 14px;
    gap: 8px;
    bottom: 15px;
    right:1%;
  }
  .toast-notification-english-fail {
    width: 92%;
     max-width: 200px;
    padding: 10px 14px;
    gap: 8px;
    bottom: 15px;
    left: 50%;
  }
  .toast-notification-english-success {
    width: 92%;
     max-width: 200px;
    padding: 10px 14px;
    gap: 8px;
    bottom: 15px;
    left: 50%;
  }
}



.toast-notification-english-fail.show,
.toast-notification-arabic-fail.show,.toast-notification-english-success.show,
.toast-notification-arabic-success.show {
  opacity: 1;
  pointer-events: auto;
  
}


.toast-english-text {
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: -0.09em;
  color: #FFFFFF;
  margin-left: 1px;
  margin-top: 1px;
  flex-wrap: wrap;
  
}
.toast-arabic-text {
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: -0.09em;
  color: #FFFFFF;
  margin-right: 1px;
  direction: rtl;
  text-align: right;
}
.toast-english-close {
  position: absolute;
  top: 5px;
  right: 8px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.toast-arabic-close {
  position: absolute;
  top: 5px;
  left: 8px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}